h2
{
color: red;
font-size: 40px;
font-family: Calibri;
text-align: center;
}

p
{
  color: white;
  text-align:center;
  font-family: Calibri;
  font-size: 30px;
}

body
{
  background-image:url("/Bourse.jpg");
  background-position: right top;
  background-attachment: fixed;
}
